<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reven.dao.SysRoleMapper">
	<resultMap id="BaseResultMap" type="com.reven.model.entity.SysRole">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="role_name" jdbcType="VARCHAR" property="roleName" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>

	<resultMap id="BaseResultMapVO" type="com.reven.model.vo.SysRoleVo" extends="BaseResultMap">
		<collection property="permissions" ofType="com.reven.model.entity.SysPermission" column="rid"
			select="com.reven.dao.SysPermissionMapper.findPermissionByRoleId" />
	</resultMap>

	<select id="findRoleVoByUserId" resultMap="BaseResultMapVO">
		select r.id,r.role_name,r.create_time,r.id as rid
		from t_role r
		left join t_user_role re
		on r.id=re.role_id
		where re.user_id=#{userId}
	</select>
	 
</mapper>